@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap'); /* noto-sans-serif */
* {
    margin: 0;
    font-family: 'Arial', 'Noto Sans KR';
    text-align: center;
}
input {
    text-align: left;
    display: inline-block;
}
article {
    margin-top: 7vh;
}